<h1>Imóveis da Região <%= @property_location.name %></h1>

<h2>Imóveis Disponíveis</h2>
<% @property_location.properties.each do |p| %>
  <%= link_to(p.title,p) %>
<% end %> 
<%= link_to('Voltar', root_path) %>